models/bert-finetuned/classification_best1.bin filter=lfs diff=lfs merge=lfs -text
models/bert-int8/classification_quantized.pt filter=lfs diff=lfs merge=lfs -text
models/textcnn-distilled/student_textcnn_best.bin filter=lfs diff=lfs merge=lfs -text
